[submodule "Sources/ThirdParty/stb"]
	path = Sources/ThirdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "Sources/ThirdParty/glm"]
	path = Sources/ThirdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "Sources/ThirdParty/tinyobjloader"]
	path = Sources/ThirdParty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Sources/ThirdParty/VulkanMemoryAllocator"]
	path = Sources/ThirdParty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Sources/ThirdParty/glfw"]
	path = Sources/ThirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "Sources/ThirdParty/shaderc"]
	path = Sources/ThirdParty/shaderc
	url = https://github.com/google/shaderc.git
[submodule "Sources/ThirdParty/rapidjson"]
	path = Sources/ThirdParty/rapidjson
	url = https://github.com/Tencent/rapidjson/
